<body.table>
<table class="center" "zebra">
  <thead>
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>In Stock</th>
    <th></th>
    <th>Buy Price (£)</th>
    <th>Sell Price (£)</th>
    <th>Profit per Sale (£)</th>
    <th>Profit on Entire Stock (£)</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @albums.each do |album| %>
<tr>
  <td>
  <%= Artist.name(album.artist_id) %>
</td>
<td>
  <%= album.name %>
</td>
<td>
  <%= album.quantity %>
</td>
<td>
<%= album.stock_levels %>
</td>
<td>
  <%=  album.buyprice%>
</td>
<td>
  <%= album.sellprice %>
</td>
<td>
<%= album.profit_per_sale %>
</td>
<td>
<%= album.total_profit_per_album %>
</td>
<td>
  <form method="get" action="/album/<%= album.id %>">
    <input type="submit" value="Edit Menu"></form>
  </td>
<% end %>
</tr>
</tbody>
</table>
</body>
