<% @albums.each do |album| %>
<p>Artist: <%= Artist.name(album.artist_id) %></p>
<p>Album: <%= album.name %> </p>
<p>Quantity: <%= album.quantity %></p>
<p><%= album.stock_levels %></p>
<p>Buy Price: <%=  album.buyprice%></p>
<p>Sell Price: <%= album.sellprice %></p>
<p>Profit per Sale: <%= album.profit_per_sale %> </p>
<p>Profit on Current Stock: <%= album.total_profit_per_album %></p>
<a href="/album/<%= album.id %>">Show Album Information</a>
<hr />
<% end %>
