<p>Artist: <%= Artist.name(@album.artist_id) %></p>
<p>Album: <%= @album.name %> </p>
<p>Quantity: <%= @album.quantity %></p>
<p>Buy Price: <%=  @album.buyprice%></p>
<p>Sell Price: <%= @album.sellprice %></p>
<p><a href="/album/<%= @album.id %>/edit">Update Stock & Information</a>
</p>
<p><form method="post" action="/album/<%= @album.id %>/delete">
<input type="submit" value="Delete Album From Inventory">
</form>
