<table  class="center">
  <tr>
    <th>Artist</th>
    <th></th>
    <th>Album</th>
    <th>Quantity in Stock</th>
    <th>Buy Price (£)</th>
    <th>Sell Price (£)</th>
    <th></th>
    <th></th>
  </tr>

  <td>
    <p><%= Artist.name(@album.artist_id) %></p>
  </td>
  <td>-</td>
  <td>
    <p><%= @album.name %> </p>
  </td>
  <td>
  <%= @album.quantity %>
</td>
<td>
<%=  @album.buyprice%>
</td>
<td>
<%= @album.sellprice %>
</td>

<td>
  <form method="post" action="/album/<%= @album.id %>/delete">
    <input type="submit" value="Delete Album"></form>
  </td>
<td>
  <form method="get" action="/album/<%= @album.id %>/edit">
    <input type="submit" value="Edit Album"></form>
  </td>

</table>
