<table  class="center">
  <tr>
    <th>Artist</th>
    <th>Album</th>
    <th>Buy Price (£)</th>
    <th>Sell Price (£)</th>
    <th>Quantity</th>
    <th></th>
  </tr>

<form method="post" action="/album/<%= @album.id %>">

<td>
  <label for="artist-id"></label>
  <select id="artist-id" name="artist_id">
    <% for artist in @artists %>
      <option value="<%=artist.id%>"><%=artist.name%></option>
    <% end %>
  </select>
</td>

<td>
  <label for="name"></label>
  <input id="name" value="<%= @album.name %>" type="text" name="name"/>
</td>

<td>
  <label for="buyprice"></label>
  <input id="buyprice" value="<%= @album.buyprice %>" type="text" name="buyprice"/>
</td>

<td>
  <label for="sellprice"></label>
  <input id="sellprice" value="<%= @album.sellprice %>" type="text" name="sellprice"/>
</td>

<td>
  <label for="quantity"></label>
  <input type="number" id="quantity" name="quantity"
        value="<%= @album.quantity() %>"/>
</td>

<td>

<input type="submit" value="Confirm Edit"/>
</td>

</form>
</table>
